body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
   border: 1px black solid;
   background-color: #62ac0e;
   color: #2e5206;

}

header {
   background-color: #83ce2d;
  /*Instead of font-color, it's normal color. A bit confusing but understandable*/ color: white;
  padding: 10px 0px; /*px is good to explain but not required since it does it on it's own*/
  
}

main {
   margin: 15px;
   padding: 15px;
   /*Added this on my own, thought it was cool text-align: left;*/
   background-color: #93df3c;
}

/*Classes are higher on the list*/ .outline {
   border: 2px black solid;

}

footer {
   background-color: #a3f04b;
   color: black;
}